.table {
    table-layout: fixed;
    overflow: auto;
}

.table th {
    text-align: center;
}

.table td {
    text-align: center;
    background: whitesmoke;
}

#login-box {
    margin: 90px auto;
    width: 90%;
    text-align: center;
}

.jumbotron {
    margin-top: 70px;
    text-align: center;
    padding: 15px;
    margin-bottom: 10px;
}

.login-form {
    width: 250px;
    margin: 0 auto;
}

.collectInfoForm {
    width: 400px;
    margin: 0 auto;
}

textarea { resize:vertical ; }